<template> 
  <div id="app">
    <sidebar></sidebar> 
    <div class="main">
        <router-view></router-view>
    </div>
  </div>
</template>
<script>
import sidebar from './components/sidebar.vue'
export default {
   components:{
     sidebar
   }
}
</script>
<style lang="scss">

</style>
