.chooselessons{
    background-color: white;
    min-height: 100%;
    border-radius: 15px;
    @include flex($direction:row-reverse);
    @include breakpoint(medium){
        @include flex($direction : column , $align:center );
    }
    .choosen , .final{
        width: 50%;
        @include breakpoint(medium){
            width: 90% !important;
         } 
        padding: 20px;
        @include flex($justify : center , $align:center);
        table{
             
            direction: ltr;
            caption{
                text-align:center;
                font-weight: bold;
            }
        }
    }
}