.dashboard{
    height: 100%;
    background-color: white;
    border-radius: 15px;
    @include flex($direction:column,$justify:center , $align: center);   
    img{
        width: 200px;
        height: 200px;
        @include breakpoint(medium){
            width: 150px;
            height: 150px;
        }
        margin-bottom: 10px;
    }
    #project_name{
        font-size: 20px;
        font-weight: bold;
    }
    
  
}