.editStudent{
    min-height: 100%;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    @include flex($direction : column);
    .title{
        font-size: 30px;
        color: #44a6aa;;
    }
    .content{
        margin-top: 20px;
        .btn-div{
            @include flex($justify:center);
            .edit-btn{
                border: none;
                background: none;
                width: 200px;
                height: 40px;
                border-radius: 15px;
                background: linear-gradient(#94f7b5,#48fdf2);
                border: 1px solid #94f7b5;
                font-weight: bold;
                &:hover{
                    background: white;
                    color: #48fdf2;
                }
            }
        }
    }
}