.lessons{
    background-color: white;
    border-radius: 15px;
    min-height: 100%;
    overflow: auto;
    @include flex($direction: column , $align:center);
    .tabs{
        width: 100%;
        ul{
            padding-right: 0;
        }
        a{
            text-decoration: none;
            color: black;
            font-weight: bold;
        }
        .tab-bg{
            background-color:  #94f7b5;
         }
         .tab-pane{
            overflow: auto;
            padding: 10px;
            @include flex($justify:center, $align:center)
         }
    }
    table{
        width: 70%;
        @include  breakpoint(medium){
            width: 80%;
            font-size: 13px;
        }
        @include  breakpoint(small){
            width: 100%;
        }
        margin: 20px 0; 
        caption{
            text-align: center;
        }
    }
    
}