.students{
    background-color: white;
    min-height: 100%;
    border-radius: 15px;
    overflow: auto;
    .tabs{
        overflow: auto;
        width: 100%;
        ul{
            padding-right: 0;
        }
        a{
            text-decoration: none;
            color: black;
            font-weight: bold;
        }
        .tab-bg{
            background-color:  #94f7b5;
         }
         .tab-pane{
             overflow: auto;
             padding: 10px;
            @include flex($justify:center, $align:center)
         }
    }
    // @include flex($direction :column , $justify:space-between, $align:center);
    table{
        width: max-content;
        overflow: auto;

        @include breakpoint(medium){
            width: 100%;
            padding: 2px;
            td{
                padding: 10px 0 !important;
                
                margin: 0;
            }
        }
        caption{
            // @include flex($justify:space-between)
            text-align: right;
                direction: ltr;
            .caption-content{
                @include flex($justify:space-between)
            }
        }
    }
}