.teachers{
    background-color: white;
    min-height: 100%;
    border-radius: 15px;
    overflow: auto;
    @include flex($justify:center, $align:center);
    table{
        width: 80%;
        caption{
            text-align: right;
            direction: ltr;
        }
    }
}