<template>
    <div class="chooselessons">
        <div class="choosen">
             <b-table :items="getChoosenLessons" :fields="fields" caption-top outlined>
                <template v-slot:table-caption>دروس انتخابی</template>
                <template v-slot:cell(operation)="props">
                    <button class="btn btn-outline-success btn-sm " @click="setFinal(props)">نهایی کردن</button>
                </template>
            </b-table>
        </div>
        <div class="final">
             <b-table :items="finalLessons" :fields="fields" caption-top outlined>
                 <template v-slot:table-caption>دروس نهایی</template>
                  <template v-slot:cell(operation)="props"  >
                       <button class="btn btn-outline-danger btn-sm" @click="deleteClick(props)">پاک کردن</button>
                  </template>
            </b-table>
        </div>
    </div>
</template>
<script>
import {mapGetters} from 'vuex';
import axios from 'axios';
  export default {
    data() {
      return {
        fields: [
          {
            key : "lessonName",
            label: "نام درس"
          },
          {
            key: "lessonId",
            label : 'کد درس'
          },
          {
            key : "counter",
            label: "تعداد واحد"
          },
          {
            key : "operation",
            label: ''
          }
        ],
        finalLessons: [
        ]
      }
    },
    computed:{
      ...mapGetters([
        "getChoosenLessons"
      ])
    },
    beforeMount(){
      if(this.$store.state.studentId != null){
          this.fetchFinalLessons(this.$store.state.studentId)
      }
    },
    methods:{
      setFinal(props){
        let data = {
          studentid : props.item.studentId,
          lessoncode : props.item.lessonId,
          term : props.item.term,
        }
        let loader = this.$loading.show();
        axios.post("/myapi/selectedlessons", data).then((res)=>{
            this.$store.dispatch("setFinalLesson" , props.item)
            loader.hide();
                 this.$toast.open({
                      message: `درس با موففیت در دروس نهایی قرار گرفت`,
                      type: 'success',
                  });
                  this.fetchFinalLessons(props.item.studentId)
        }).catch((error)=>{
              loader.hide();
                 this.$toast.open({
                      message: ` درس در دروس نهایی قرار دارد`,
                      type: 'error',
                  });
        })
      },
      fetchFinalLessons(studentid){
        axios.get("/myapi/selectedlessons", {
          params:{
            id : studentid
          }
        }).then((res)=>{
            let data = res.data;
            this.finalLessons = []
            data.forEach(lesson=>{
              this.finalLessons.push({
                lessonName : lesson.name,
                lessonId : lesson.lessoncode,
                counter : lesson.counter,
              })
            })
        }).catch((error)=>{
            this.finalLessons = []
        })
      },
      deleteClick(props){
        
            let studentId = this.$store.state.studentId;
            let lessoncode = props.item.lessonId
            let loader = this.$loading.show();
            axios.delete("/myapi/selectedlessons" , {
              params:{
                id : studentId,
                lessoncode: lessoncode
              }
            }).then((res)=>{
                  loader.hide()
                   this.$toast.open({
                          message: `درس با موفقیت حذف گردید `,
                          type: 'success',
                    });
                    this.fetchFinalLessons(studentId)

            }).catch(()=>{
                loader.hide()
                 this.$toast.open({
                          message: `درس مورد نظر یافت نشد`,
                          type: 'error',
                });
            })
       }
    }
 
  }
</script>