<template>
    <div class="dashboard">
            <img src="../../assets/images/worldwide.svg" alt="">
            <div id="project_name">پروژه نهایی مهندسی اینترنت</div>
            <div>پدرام صوفی 9612762127</div>
            <div>علی نوراللهی 9612762627</div>


        <transition name="fold" @after-enter="welcomeModalContent = true">
            <div v-if="welcomeModalBackground" class="modal-container"  >
                <div class="modal-background" >
                    <transition name="zoom" @after-leave="welcomeModalBackground = false"> 
                         <div v-if="welcomeModalContent" class="mymodal welcomeModal" >
                                 <div class="close-modal" @click="welcomeModalContent = false">
                                    &times;
                                </div>  
                                <div class="content-modal">
                                    <div class="title">خوش آمدید</div>
                                    <div>پروژه نهایی درس مهندسی اینترنت </div>
                                    <div>بهار 99</div>
                                    <button class="resume_btn" @click="welcomeModalContent = false">ادامه</button>
                                 </div>
                        </div>
                    </transition> 
                </div>
            </div>
     </transition>
    </div>
    
</template>
<script>
export default {
    data(){
     return{
       welcomeModalBackground : false,
       welcomeModalContent : false
     }
   },
   computed: {
       isFirstTime(){
           return this.$store.state.isFirstTime;
       }
   },
   mounted(){
       if(this.isFirstTime){
           this.welcomeModalBackground = true;
           this.$store.state.isFirstTime = false;
       }
   },
}
</script>