<template>
    <div class="editStudent">
        <div class="title">
            ویرایش دانشجو
        </div>
        <div class="content">
            <b-form @submit="onSubmit" @reset="onReset" v-if="show">
                <b-form-group
                    id="input-group-1"
                    label="نام:"
                    label-for="input-1"
                >
                    <b-form-input
                    id="input-1"
                    v-model="name"
                    type="text"
                    required
                    placeholder="نام..."
                    ></b-form-input>
                 </b-form-group>

                <b-form-group id="input-group-2" label="نام خانوادگی:" label-for="input-2">
                    <b-form-input
                    id="input-2"
                    v-model="lastname"
                    required
                    placeholder="نام خانوادگی..."
                    ></b-form-input>
                </b-form-group>

                  <b-form-group id="input-group-3" label="شماره دانشجویی:" label-for="input-3">
                    <b-form-input
                    id="input-3"
                    v-model="studentID"
                    disabled
                    ></b-form-input>
                </b-form-group>

                  <b-form-group id="input-group-4" label="رشته تحصیلی:" label-for="input-4">
                    <b-form-input
                    id="input-4"
                    v-model="field"
                    required
                    placeholder="رشته تحصیلی..."
                    ></b-form-input>
                </b-form-group>

                <b-form-group id="input-group-5" label="تعداد واحد:" label-for="input-5">
                    <b-form-input
                    id="input-5"
                    v-model="counter"
                    required
                    placeholder="تعداد واحد..."
                    ></b-form-input>
                </b-form-group>

                <b-form-group id="input-group-6" label="مقطع تحصیلی:" label-for="input-6">
                    <b-form-input
                    id="input-5"
                    v-model="mt"
                    required
                    placeholder="مقطع تحصیلی..."
                    ></b-form-input>
                </b-form-group>
                    <div class="btn-div">
                        <button type="submit" class='edit-btn'>ویرایش</button>
                    </div>
                </b-form>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
export default {
    
    data(){
        return{
            studentID : this.$route.params.id,
            name : '',
            lastname : '',
            field: "",
            counter: '',
            mt: "",
            show: true
        }
    },
    mounted(){
        axios.get( `/myapi/students?id=${this.studentID}`).then((res)=>{
            let data = res.data;
            this.name = data[0].name;
            this.lastname = data[0].lastname,
            this.studentID = data[0].id,
            this.field = data[0].field,
            this.counter = data[0].counter,
            this.mt = data[0].mt
        }).catch((error)=>{
              this.$toast.open({
                    message: 'خطا در دریافت اطلاعات دانشجو',
                    type: 'error',
                });
            
        })
        
    },
     methods: {
      onSubmit(evt) {
        evt.preventDefault()
        let data = {
            name: this.name,
            lastname: this.lastname,
            field: this.field,
            counter: this.counter,
            mt: this.mt
        }
        axios.put("/myapi/students", data , {
            params:{
                id : this.studentID
            }
        }).then((res)=>{
             this.$toast.open({
                    message: 'ویرایش اطلاعات دانشجو با موفقیت انجام شد',
                    type: 'success',
            });
            this.$router.push('/students')

        }).catch(()=>{
             this.$toast.open({
                    message: 'خطا در ویرایش اطلاعات دانشجو',
                    type: 'error',
                });
        })
      },
      onReset(evt) {
        evt.preventDefault()
        // Reset our form values
        this.form.email = ''
        this.form.name = ''
        this.form.food = null
        this.form.checked = []
        // Trick to reset/clear native browser form validation state
        this.show = false
        this.$nextTick(() => {
          this.show = true
        })
      }
    }
    
}
</script>