<template>
    <div class="lessons">
         <b-tabs content-class="mt-3" class="bg-black" justified v-model="tabIndex">
           <b-tab title="رشته کامپیوتر " :title-link-class="linkClass(0)">
                 <b-table   :items="computerLessons" :fields="fields" outlined caption-top>
                    <template v-slot:table-caption>دروس رشته کامپیوتر</template>
                    <template v-slot:cell(operation)="props">
                        <button class="btn btn-sm btn-outline-info" @click="choose(props)"> اخذ درس</button>
                    </template>
                </b-table> 
           </b-tab>
            <b-tab title="رشته برق" :title-link-class="linkClass(1)">
                <b-table   :items="electronicLessons" :fields="fields" outlined caption-top>
                  <template v-slot:table-caption>دروس رشته برق</template>
                  <template v-slot:cell(operation)="props">
                        <button class="btn btn-sm btn-outline-info" @click="choose(props)"> اخذ درس</button>
                  </template>
 
                </b-table> 
            </b-tab>
            <b-tab title="رشته مکانیک" :title-link-class="linkClass(2)">
                  <b-table   :items="mecanicLessons" :fields="fields"  outlined caption-top>
                    <template v-slot:table-caption>دروس رشته مکانیک</template>
                    <template v-slot:cell(operation)="props">
                        <button class="btn btn-sm btn-outline-info" @click="choose(props)"> اخذ درس</button>
                    </template>
 
                 </b-table>
            </b-tab>
        </b-tabs>
     
        <b-modal
          id="choose-modal"
          ref="modal"
          title="شماره دانشجویی را وارد کنید"
          @show="resetModal"
          @hidden="resetModal"
          @ok="handleOk"
        >
          <form ref="form" @submit.stop.prevent="handleSubmit">
            <b-form-group
              :state="nameState"
              label="شماره دانشجویی"
              label-for="name-input"
              invalid-feedback="شماره دانشجویی الزامی می باشد"
            >
              <b-form-input
                id="name-input"
                v-model="studentId"
                :state="nameState"
                required
              ></b-form-input>
            </b-form-group>
          </form>
          <template v-slot:modal-ok >
             اخذ
          </template>
           <template v-slot:modal-cancel>
             انصراف
          </template>
        </b-modal>
      
    </div>
</template>
<script>
import axios from 'axios'
import {mapGetters} from "vuex"
  export default {
    data() {
      return {
        tabIndex : 0 ,
        studentId: '',
        lessonField: '',
        studentField:'',
        selectedLesson :null,
        nameState: null,
        fields:[
           {
               key : "operation",
               label: ""
            },
            {
                key: "name",
                label: "نام درس",
            },
            {
                key: "code",
                label: "نام درس",
            },
            {
                key: "counter",
                label: "تعداد واحد",
            },
            {
                key: "teacher",
                label: "استاد درس",
            },
            {
                key: "numberofstudents",
                label: "تعداد دانشجویان",
            },
            {
                key: "numberofstudents",
                label: "تعداد دانشجویان",
            },
            {
                key: "term",
                label: "ترم ارائه ",
            },
           
        ],
        computerLessons:[],
        electronicLessons:[],
        mecanicLessons: []
      }
    },
    computed:{
        ...mapGetters([
          'isStudent', 
          'getStudent',
          'isLessthanSeven',
          'isLessonSelected',
          'isFinalLesson',
          'isInEqualTerm'
        ])
    },
    mounted(){
      this.$store.dispatch('fetchAllStudent');
      this.$store.state.choosenLesson = []
      this.$store.state.studentFiled = null;
      this.$store.state.studentId = null;
      this.$store.state.finalLessons = []
      this.$store.state.lessonFiled = null
      this.studentId = ''
      console.log(this.$store.state);
      let loader = this.$loading.show()
      axios.get("/myapi/lessons", {params:{field:"کامپیوتر"}}).then((res)=>{
        this.computerLessons = res.data
        
      })
      axios.get("/myapi/lessons", {params:{field:"برق"}}).then((res)=>{
        this.electronicLessons = res.data
        
      })
      axios.get("/myapi/lessons", {params:{field:"مکانیک"}}).then((res)=>{
        this.mecanicLessons = res.data
        loader.hide()
      })
    },
    methods:{
       linkClass(idx) {
        if (this.tabIndex === idx) {
          return ['tab-bg', 'text-light']
        } else {
          return ['bg-light', 'text-info']
        }
      },
      checkFormValidity() {
        const valid = this.$refs.form.checkValidity()
        this.nameState = valid
        return valid
      },
      resetModal() {
        this.nameState = null
      },
      handleOk(bvModalEvt) {
        // Prevent modal from closing
        bvModalEvt.preventDefault()
        // Trigger submit handler
        this.handleSubmit()
      },
      handleSubmit() {
        // Exit when the form isn't valid
        if (!this.checkFormValidity()) {
          return
        }
        this.$bvModal.hide('choose-modal');
        this.$nextTick(() => {
          this.$bvModal.hide('choose-modal')
        })

        if(this.isStudent(this.studentId)){
              let student  = this.getStudent(this.studentId);
              if(student.field == this.selectedLesson.field ){
                 this.$store.dispatch("fetchFinalLesson" , this.studentId).then(()=>{
                    this.studentField = student.field;
                    this.$store.dispatch("setStudentID" , this.studentId);
                    this.$store.dispatch("setStudentField" , this.studentField);
                    this.$store.dispatch("setLessonFeild" , this.lessonField);
                    let data = {
                    lessonId : this.selectedLesson.code,
                    studentId : this.studentId,
                    lessonName: this.selectedLesson.name,
                    counter: this.selectedLesson.counter,
                    term: this.selectedLesson.term
                  }
                  if(this.isLessthanSeven(this.selectedLesson.counter)){
                        if(!this.isFinalLesson(this.selectedLesson.code)){
                          if(this.isInEqualTerm(this.selectedLesson.term)){
                              this.$store.dispatch("chooseLesson" , data);
                                  this.$toast.open({
                                  message: ` درس ${this.selectedLesson.name} با موفقیت در دروس انتخابی قرار گرفت`,
                                  type: 'success',
                                });
                          }else{
                            this.$toast.open({
                            message: `ترم درس با ترم دروس دانشجو تداخل دارد`,
                            type: 'warning',
                            });
                          }
                      }
                      else{
                        this.$toast.open({
                              message: `این درس در دروس نهایی موجود می باشد`,
                              type: 'warning',
                            });
                      }
                  }
                  else{
                    this.$toast.open({
                          message: ` واحد های دانشجو بیشتر از حد مجاز است`,
                          type: 'error',
                        });
                  }
              
              });
                      
            }
            else{
              // this.$store.state.chooseLesson = []
              // this.$store.state.studentFiled = null;
              // this.$store.state.studentId = null;
              // this.$store.state.finalLessons = []
              // this.$store.state.lessonFiled = null
              this.studentId = ''
              this.$toast.open({
                message: `انتخاب دروس این رشته برای دانشجو مجاز نمی باشد`,
                type: 'error',
              });
            }

            
        }
        else{
            this.studentId = ''
            this.$toast.open({
              message: `اطلاعات دانشجو موجود نمی باشد`,
              type: 'error',
            });
        }
      },
      choose(props){
        if(this.studentId == ''){
          this.$bvModal.show('choose-modal');
          this.lessonField = props.item.field;
          this.selectedLesson = props.item;
        }
        else{
            if(this.lessonField == props.item.field ){
              if(!this.isLessonSelected(props.item.code) ){
                if(!this.isFinalLesson(props.item.code) ){
                       if(this.isLessthanSeven(props.item.counter)){
                          if(this.isInEqualTerm(props.item.term)){
                             let data = {
                                lessonId : props.item.code,
                                studentId : this.studentId,
                                lessonName: props.item.name,
                                counter : props.item.counter,
                                term: props.item.term
                              }
                              this.$store.dispatch("chooseLesson" , data);
                                this.$toast.open({
                                  message: ` درس ${props.item.name} با موفقیت در دروس انتخابی قرار گرفت`,
                                  type: 'success',
                                    });
                          }
                          else{
                            this.$toast.open({
                          message: `ترم درس با ترم دروس دانشجو تداخل دارد`,
                          type: 'warning',
                           });
                          }
                    }
                    else{
                      this.$toast.open({
                          message: ` واحد های دانشجو بیشتر از حد مجاز است`,
                          type: 'error',
                        });
                    }
                }
                else{
                  this.$toast.open({
                          message: `این درس در دروس نهایی موجود می باشد`,
                          type: 'warning',
                   });
                }   
              }
              else{
                 this.$toast.open({
                      message: `این درس در دروس انتخابی موجود می باشد`,
                      type: 'warning',
                    });
              }
            }else{
               this.$toast.open({
                message: `انتخاب دروس این رشته برای دانشجو مجار نمی باشد`,
                type: 'error',
              });
            }
        }  
      }
    }
  }
</script>