<template>
    <div class="students">
          <b-tabs content-class="mt-3" class="bg-black" justified v-model="tabIndex">
           <b-tab title="رشته کامپیوتر " :title-link-class="linkClass(0)">
                <b-table  :items="computerStudents" :fields="fields" outlined class="table" caption-top>
                    <template v-slot:table-caption>
                        <div class="caption-content">
                            <button class="btn btn-sm btn-outline-info" @click="showTeachers('کامپیوتر')">
                                مشاهده اساتید
                            </button>
                            دانشجویان گروه کامپیوتر
                        </div>
                    </template>
                    <template v-slot:cell(field)="props">
                        <div class="field" 
                        data-toggle="tooltip" 
                        data-placement="bottom" 
                        title="برای مشاهده استاتید رشته کلیلک کنید"
                        @click="showTeachers(props.value)">
                            {{props.value}}
                        </div>
                    </template>
                    <template v-slot:cell(operation)="props" >
                        <div class="operations">
                            <button class="btn table-btn btn-outline-warning btn-sm" @click="editStudent(props)">
                                ویرایش
                            </button>
                            <button class="btn table-btn btn-outline-danger btn-sm" @click="deleteStudent(props)">
                                پاک کردن
                            </button>
                        </div>
                    </template>
                </b-table>
           </b-tab>
            <b-tab title="رشته برق" :title-link-class="linkClass(1)">
                    <b-table  :items="ElectronicStudents" :fields="fields" outlined class="table" caption-top>
                    <template v-slot:table-caption>
                        <div class="caption-content">
                            <button class="btn btn-sm btn-outline-info" @click="showTeachers('برق')">
                                مشاهده اساتید
                            </button>
                            دانشجویان گروه برق
                        </div>
                    </template>
                    <template v-slot:cell(field)="props">
                        <div class="field" 
                        data-toggle="tooltip" 
                        data-placement="bottom" 
                        title="برای مشاهده استاتید رشته کلیلک کنید"
                        @click="showTeachers(props.value)">
                            {{props.value}}
                        </div>
                    
                    </template>
                    <template v-slot:cell(operation)="props" >
                        <div class="operations">
                           <button class="btn table-btn btn-outline-warning btn-sm" @click="editStudent(props)">
                                ویرایش
                            </button>
                            <button class="btn table-btn btn-outline-danger btn-sm" @click="deleteStudent(props)">
                                پاک کردن
                            </button>
                        </div>
                    </template>
                </b-table>
            </b-tab>
            <b-tab title="رشته مکانیک" :title-link-class="linkClass(2)">
                    <b-table  :items="mecanicStudetns" :fields="fields" outlined class="table" caption-top>
                    <template v-slot:table-caption>
                        <div class="caption-content">
                            <button class="btn btn-sm btn-outline-info" @click="showTeachers('مکانیک')">
                                مشاهده اساتید
                            </button>
                            دانشجویان گروه مکانیک
                        </div>
                    </template>
                    <template v-slot:cell(field)="props">
                        <div class="field" 
                        data-toggle="tooltip" 
                        data-placement="bottom" 
                        title="برای مشاهده استاتید رشته کلیک کنید"
                        @click="showTeachers(props.value)">
                            {{props.value}}
                        </div>
                    </template>
                    <template v-slot:cell(operation)="props" >
                        <div class="operations">
                           <button class="btn table-btn btn-outline-warning btn-sm" @click="editStudent(props)">
                                ویرایش
                            </button>
                            <button class="btn table-btn btn-outline-danger btn-sm" @click="deleteStudent(props)">
                                پاک کردن
                            </button>
                        </div>
                    </template>
                </b-table>
            </b-tab>
        </b-tabs>
    </div>
</template>
<script>
import axios from 'axios'
export default {
  
     data() {
      return {
          tabIndex: 0,
           fields : [
               {
                   key: "name",
                   label : "نام",
               },
               {
                   key: "lastname",
                   label : "نام خانوادگی",
               },
               {
                   key: "id",
                   label : "شماره دانشجویی",
               },
               {
                   key: "field",
                   label : "رشته",
               },
               {
                   key: "mt",
                   label : "مقطع تحصیلی",
               },
               {
                   key: "operation",
                   label : "عملیات",
               },
           ],
            computerStudents: [],
            ElectronicStudents : [],
            mecanicStudetns: [],
      }
    },
    mounted(){
        this.fetchStudents()
    },
      methods:{
        fetchStudents(){
                    let loader = this.$loading.show()
        axios.get("/myapi/students" , {
            params: {
                field : "کامپیوتر"
            }
        }).then((res)=>{
            this.computerStudents = res.data
              axios.get("/myapi/students" , {
            params: {
                field : "برق"
            }
            }).then((res)=>{
                this.ElectronicStudents = res.data;
                  axios.get("/myapi/students" , {
                        params: {
                            field : "مکانیک"
                        }
                    }).then((res)=>{
                        this.mecanicStudetns = res.data;
                        loader.hide();
                        this.$toast.open({
                            message: 'اطلاعات دانشجویان با موفقیت دریافت شد',
                            type: 'success',
                            // all other options may go here
                        });
                    }).catch(()=>{
                        loader.hide();
                        this.$toast.open({
                            message: 'خطا در دریافت اطلاعات دانشجویان',
                            type: 'error',
                            // all other options may go here
                        });


                    })
            }).catch(()=>{
                loader.hide()
                 this.$toast.open({
                            message: 'خطا در دریافت اطلاعات دانشجویان',
                            type: 'error',
                            // all other options may go here
                        });

            })
        }).catch((error)=>{
            loader.hide()
             this.$toast.open({
                            message: 'خطا در دریافت اطلاعات دانشجویان',
                            type: 'error',
                            // all other options may go here
                        });

        })
        },
        showTeachers(field){            
                this.$router.push(`/teachers/${field}`)                
        },
         linkClass(idx) {
        if (this.tabIndex === idx) {
          return ['tab-bg', 'text-light']
        } else {
          return ['bg-light', 'text-info']
        }
      },
      editStudent(props){
          let student_id = props.item.id;
          this.$router.push(`/editStudent/${student_id}`)
      },
       deleteStudent(props){
        this.$bvModal.msgBoxConfirm('آیا از حذف دانشجو اطمینان دارید؟', {
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'بله',
          cancelTitle: 'خیر',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
          .then(value => {
            if(value){
                         let student_id = props.item.id;
            let loader = this.$loading.show()
            axios.delete('/myapi/students' , {
                params:{
                    id :student_id
                }
            }).then(()=>{
                loader.hide();
                      this.$toast.open({
                            message: ' اطلاعات دانشجو با موفقیت خذف گردید',
                            type: 'success',
                            // all other options may go here
                        });
                        this.fetchStudents()
            }).catch(()=>{
                 this.$toast.open({
                            message: 'خطا در حذف اطلاعات دانشجو',
                            type: 'error',
                            // all other options may go here
                        });
            })
            }
            
          })
          .catch(err => {
             this.$toast.open({
                message: 'خطا در حذف اطلاعات دانشجو',
                type: 'error',
               // all other options may go here
            });
          })
   

      }
    },
   
}
</script>