<template>
    <div class="teachers">
        <b-table  :items="teachers" :fields="fields" outlined class="table" caption-top>
           <template v-slot:table-caption>
                     {{title}}
            </template>
        </b-table>
    </div>
</template>
<script>
import axios from 'axios';
export default {
     data() {
      return {
           fields : [
               {
                   key: "name",
                   label : "نام",
               },
               {
                   key: "lastname",
                   label : "نام خانوادگی",
               },
               {
                   key: "id",
                   label : "شماره پرسنلی",
               },
               {
                   key: "field",
                   label : "رشته",
               },
               {
                   key: "ma",
                   label : " مرتبه علمی",
               },
           ],
            title : '',
            teachers : []
              
      }
      
    },
     mounted(){
         if(this.$route.params.major){
             //get each major teacher
             let major = this.$route.params.major
             let loader = this.$loading.show()
             axios.get("/myapi/teachers" , {
               params:{
                 field : major,
               }
             }).then((res)=>{
                  loader.hide();
                   this.$toast.open({
                            message: ` اطلاعات اساتید ${major} با موفقیت دریافت شد `,
                            type: 'success',
                            // all other options may go here
                  });
                  this.teachers = res.data
                  this.title = ` اساتید گروه ${major}`

             }).catch((error)=>{
                   loader.hide()
                   this.$toast.open({
                            message: 'خطا در دریافت اطلاعات اساتید',
                            type: 'error',
                            // all other options may go here
                        });
             })
        }
        else{
            //get All teacher
              let loader = this.$loading.show()

               axios.get("/myapi/teachers").then((res)=>{
                  loader.hide();
                   this.$toast.open({
                            message: ` اطلاعات اساتید با موفقیت دریافت شد `,
                            type: 'success',
                            // all other options may go here
                  });
                  this.teachers = res.data
                  this.title = "اساتید"

             }).catch((error)=>{
                   loader.hide()
                   this.$toast.open({
                            message: 'خطا در دریافت اطلاعات اساتید',
                            type: 'error',
                            // all other options may go here
                   });
             })
        }    
     },
}
</script>