.aboutbar {
  display: flex;
  align-items: center;
  min-height: 40px;
  background-color: $gray-600;
}

.aboutbar__contents {
  p {
    margin-bottom: 0;
  }

  a {
    color: $light;

    &:hover {
      text-decoration: none;
    }
  }

  .row {
    font-size: 0.9rem;
    padding: 0.5rem 0;
  }

  @include media-breakpoint-down(md) {
    text-align: center;
  }
}

.infobar {
  background-color: $gray-300;
  padding: 20px 0;

  h6 {
    margin-bottom: 1rem;
  }

  ul {
    list-style: none;
    padding-right: 0;
  }

  li {
    padding: 0.5rem 0;
  }

  a {
    color: $gray-700;

    &:hover {
      text-decoration: none;
      color: theme-color('primary');
    }
  }

  @include media-breakpoint-down(md) {
    text-align: center;
  }
}

.infobar__form {
  margin: 2rem 0 2rem 0;
  display: flex;

  input {
    border-radius: 10px;
    flex-grow: 1;
  }

  button {
    border-radius: 20px;
    margin-right: 5px;
    @include media-breakpoint-down(sm) {
      width: 100%;
      margin-top: 5px;
      margin-right: 0;
    }
  }
}

.infobar__icons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 75px;

  img {
    margin: 0 5px;
  }

  @include media-breakpoint-down(lg) {
    flex-direction: column;
    align-items: center;
  }
}

.infobar__icons__social {
  display: flex;
  align-items: center;
  height: 48px;
}

.infobar__icons__app {
  display: flex;
}
