.modal-container {
    position:fixed;
    height:100%;
    width:100%;
    top:0;
    left:0;
    @include flex();
    z-index:1;   
    .modal-background {
      width: 100%;
      background: rgba(0, 0, 0, 0.4);
      text-align:center;
      vertical-align:middle;
       @include flex($justify:center , $align:center);
      .mymodal {
        // margin: auto;
        color: $color7;  
        // background-color: $color4;
        // direction: ltr;
        // display:inline-block;
        padding: 20px;;
        border-radius:10px;
        .close-modal{
          position: absolute;
          font-size: 40px;
          @include breakpoint(large){
            font-size: 30px;
          }
          cursor: pointer;
          left: 25px;
          top: 5px;
        }
      
    }
    .welcomeModal{
      position: relative;
      width: 40%;
      @include breakpoint(medium){
        width:  80%;
      }
      background-color: white;
      .content-modal{
        font-size: 20px;
        @include flex($direction : column , $align:center);
        .title{
            font-size: 45px;
            margin-bottom: 10px;
            @include breakpoint(large){
              font-size: 30px;
            }
            border-bottom: 1px solid $color4;
        }
        .name{
          font-style: italic;
        }
      }
      .resume_btn{
        width: 20%;
        margin: 10px 0;
        background-color: $color7;
        color: $color10;
        border: none;
        border : 1px solid  $color7;
        border-radius: 10px;
        &:hover{
          background-color: inherit;
          color: $color7;
        }
      }
    }
}
}