.sidebar{
    width: 20%;
    @include flex($direction:column);

    @include breakpoint(medium){
        width: 60px;
        min-width: 60px;
        @include flex($justify:flex-end);
    }
    // height: 100vh;
    padding: 30px 0 ;
    position: relative;
    top: 0;
    bottom: 0;
    overflow: auto;
    direction: ltr;
    .main_sidebar_wide{
        // margin-top: 20px;
        // margin-bottom: 20px;
        height: 100%;
        direction: rtl;
        overflow: auto;
        // background-color: rgb(105, 250, 182);
        // background-color: #44a6aa;
        background-image: linear-gradient(#94f7b5,#48fdf2);
        border-radius: 10px 0 0 10px;
        border: 0.5px solid #94f7b5;
        border-right: none;
        @include flex($direction:column);
        @include breakpoint(medium){
            display: none;
        }
        .header {
            text-align: center;

            margin-top: 20px;
            border-bottom: 1px solid $color10;
            padding-bottom: 10px;
            img{
                width: 100px;
                height: 100px;
                @include breakpoint(medium){
                    width: 70px;
                    height: 70px;
                }
                  
            }
        }
            .sidebar_item{
                margin: 5px;
                padding: 5px;
                margin-right: 0;
                width: 90%;
                // font-weight: bold;
                @include breakpoint(large)
                {
                    font-size: 14px;
                }
                border-radius: 10px 0 0 15px;
                padding-right: 15px;
                color: black;
                text-decoration: none;
                vertical-align: middle;
                img{
                    margin-left: 10px;
                    width: 30px;
                    height: 30px;
                    @include breakpoint(large){
                        width: 25px;
                        height: 25px; 
                    }

                }
            }
    }
    .main_sidebar_collapse{
        display: none;
        @include breakpoint(medium){
            @include flex($direction:column);
        }
        height: 100%;
        width: 100%;
        direction: rtl;
        overflow: auto;
        background-image: linear-gradient(#94f7b5,#48fdf2);
        border-radius: 10px 0 0 10px;
        text-align: center;
        .header{
            text-align: center;
            margin-top: 10px;
            margin-bottom: 10px;
            img{
                cursor: pointer;
                width: 50px;
                height: 50px;
            }
            padding-bottom: 10px;
            border-bottom: 1px solid $color10;
        }
        .collapse_item{
            margin: 5px 0;
            padding: 5px 0;
            img{
                cursor: pointer;
                width: 35px;
                height: 35px;  
            }
        }
    }
}
.active_link{
    background-color: #D9EEE3;
    opacity: 0.9;
    box-shadow: 10px 25px 79px -14px rgba(0,0,0,0.75);
    
}
.test{
    background-color: red;
}