
@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?jxuyr3');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?jxuyr3#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?jxuyr3') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?jxuyr3') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?jxuyr3##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home {
  &:before {
    content: $icon-home; 
  }
}
.icon-pencil {
  &:before {
    content: $icon-pencil; 
  }
}
.icon-tv {
  &:before {
    content: $icon-tv; 
  }
}
.icon-spinner{
  &:before {
    content: $icon-spinner; 
  }
}