body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
  background-color: #EFF3FB;
}
#app{
  width: 100%;
  height: 100%;
  @include flex();
}
.main{
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 30px;
  @include breakpoint(small){
    padding: 30px 5px;
  }
}
.fold-enter-active {
  animation: unfoldIn 0.7s;
}
.fold-leave-active {
  animation: unfoldIn 0.7s reverse;
}
.zoom-enter-active {
  animation: zoomIn 0.7s ;
}
.zoom-leave-active {
  animation: zoomIn 0.7s reverse;
}
.table{
  tr{
    text-align: center;
  }
  td{
    vertical-align: middle;
  }
  .operations{
    @include flex($justify:space-around);
    @include breakpoint(medium){
      @include flex($direction: column);
    }
    .table-btn{
      padding: 5px;
      width: 100px;
      margin-right: 10px;;
      @include breakpoint(medium){
        margin-top: 5px;
        width: auto;
      }
    }
    .btn-warning{
      background-color: $color12;
      border: 1px solid $color12;
      &:hover{
        background-color: $color14;
      }
    }
    
  }
  .field{
    cursor: pointer;
    .myTooltip{
      display: none;
    }
  }
  
  
}
.modal-header{
  @include flex($justify:space-between);
  .close{
    padding: 0;
    margin: 0;
  }
}
.modal-footer{
  direction: ltr;
  .btn-primary{
    background-color: #17a2b8;
    border-color: #17a2b8;
  }
}