
@mixin breakpoint($point) {
    @if $point == ultra {
        @media (min-width: 1200px) { @content; }
    }
    @else if $point == large {
        @media (max-width: 1200px) { @content; }
    }
    @else if $point == medium {
        @media (max-width: 992px) { @content; }
    }
    @else if $point == small {
        @media (max-width: 768px) { @content; }
    }
    @else if $point == xsmall {
        @media (max-width: 480px) { @content; }
    }
    @else if $point == xxsmall {
        @media (max-width: 330px) { @content; }
    }
    @else if $point == watch {
        @media (max-width: 160px) { @content; }
    }
    @else {
        @media ($point) { @content; }
    }
}