@mixin flex($direction:row , $wrap:nowrap , $justify:flex-start , $align: stretch ){
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
    align-content: stretch;
  }