
// i{ vertical-align: middle; }

// button:focus, button:active, button:hover, input:focus, span:focus, input:focus{ outline: 0; }
// ul{ list-style: none; padding: 0; }
// a, a:hover, a:focus{ text-decoration: none; outline: none; }
// label{ font-weight: normal; }
// img{ width: 100%; }
// textarea{ resize: none; }