// General Variables
$dark : rgba(6, 28, 37, 0.78);
// like: $black: #000;

/* Color Theme Swatches in Hex */
$color1: #A2E3E8;
$color2: #E3FFFB;
$color3: #BFEEFF;
$color4: #95C1E8;
$color5: #6E9DFA;
$color6 : #1D1C40;

/* Color Theme Swatches in Hex */
$color7: #2B4040;
$color8: #5A7370;
$color9: #94A6A4;
$color10: #F0F2F2;
$color11: #D2D9D8;
$color12 : #11D97C;
$color13 : rgb(189, 248, 211);
$color14  :#1ebe73;
// PartFontIcon Variables
$icomoon-font-family: "PartFontIcon" !default;
$icomoon-font-path: "../fonts/fonticon" !default;

$icon-home: "\e900";
$icon-pencil: "\e905";
$icon-tv: "\e95b";
$icon-spinner: "\e97f";