<template style="direction: rtl">
  <div class="container custom-404">
    <div class="not-found-bg">
      <img src="../../assets/images/404_error.png" />
      <h3>صفحه‌ای که دنبال آن بودید پیدا نشد!</h3>
      <div class="bg-info submit ">
        <a href="/" class="ubmit-btn disabled">صفحه اصلی</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Page404",
  computed: {
    message() {
      return "The webmaster said that you can not enter this page...";
    }
  }
};
</script>

<style scoped>
.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  /* background: url(../../../../../assets/images/6fb2da6e.png) repeat; */
  background-size: auto 100%;
}
a {
  color: #f9af5a;
  text-decoration: none;
}
.custom-404 {
  display: flex;
}
.not-found-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50%;
  margin: auto;
  height: 100vh;
}
.not-found-bg img {
  width: 80%;
}
.not-found-bg h3 {
  position: absolute;
  color: #FF5722;
  margin: 0;
  right: 50%;
  font-size: 24px;
  -webkit-transform: translate(26%, 0);
  transform: translate(26%, 0);
}
.submit a {
  cursor: pointer;
  width: 100%;
  text-align: center;
  color: #fff;
  height: 54px;
  display: inline-block;
  line-height: 46px;
  border-radius: 8px;

}
.submit {
  position: absolute;
  margin: 104px auto;
  width: 160px;
  right: 50%;
}
</style>
