<template>
	<div class="alert" v-show="isShowMessage" :class="[type ? 'success' : 'error']">
		{{ message }}
	</div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
export default {
	data() {
		return {
			
		}
	},
	props:{
		message:String,
		type: Boolean,
	},
	computed: {
		...mapState([
			'isShowMessage'
		])
	},
	beforeUpdate() {
		setTimeout(()=>{
			this.setIsShowingMessage(false);
		} , 5000)	
	},
	methods: {
		...mapActions([
			"setIsShowingMessage"
		])
	},
}
</script>

<style lang="scss" scoped>
	.alert{
		width: 300px;
		right: 0;
		border-radius: 10px;;
		position: fixed;
		margin-right: 30px;
		bottom: 0;
		transition: display 2s;
	}
	.error{
		font-size: 20px;
		color: #fff;
		background-color: #dc3545;
		border-color: #dc3545;
		opacity: 0.7;

	}
	.success{
		font-size: 20px;
		color: #fff;
		background-color: #079c09;
		border-color: #079c09;
		opacity: 0.7;
	}

</style>