<template>
    <div class="sidebar ">
        <div class="main_sidebar_wide ">
            <div class="header">
                <img src="../../assets/images/worldwide.svg">
            </div>
                     <router-link to="/dashboard" class="sidebar_item" active-class="active_link">
                        <img src="../../assets/images/dashboard.svg" alt="">
                         داشبورد 
                     </router-link>
                    <router-link to="/students" class="sidebar_item" active-class="active_link">
                        <img src="../../assets/images/graduated.svg" alt="">
                         دانشجو
                    </router-link>
                    <router-link to="/teachers" class="sidebar_item" active-class="active_link">
                         <img src="../../assets/images/teacher.svg" alt="">
                         استاد
                    </router-link>

                    <router-link to="/lessons" class="sidebar_item" active-class="active_link"> 
                        <img src="../../assets/images/book.svg" alt="">
                        دروس ارائه شده 
                        </router-link>
                    <router-link to="/chooseLesson" class="sidebar_item" active-class="active_link"> 
                        <img src="../../assets/images/add.svg" alt="">
                        انتخاب واحد
                        </router-link>
        </div>
        <div class="main_sidebar_collapse">
             <div class="header">
                <img src="../../assets/images/worldwide.svg">
            </div>
              <router-link to="/dashboard"  class="collapse_item" active-class="active_link">
                        <img src="../../assets/images/dashboard.svg" alt="">
              </router-link>
                  <router-link to="/students" class="collapse_item" active-class="active_link">
                        <img src="../../assets/images/graduated.svg" alt="">
                    </router-link>
                    <router-link to="/teachers" class="collapse_item" active-class="active_link">
                         <img src="../../assets/images/teacher.svg" alt="">
                    </router-link>
                    <router-link to="/lessons" class="collapse_item" active-class="active_link"> 
                        <img src="../../assets/images/book.svg" alt="">
                        </router-link>
                    <router-link to="/chooseLesson" class="collapse_item" active-class="active_link"> 
                        <img src="../../assets/images/add.svg" alt="">
                        </router-link>

        </div>
    </div>
</template>

<script>
export default {
    
}
</script>