<template>
	<div >
		{{label}} : <span>{{data}}</span>
	</div>
</template>

<script>
export default {
	props:{
		label: String,
		data: String,
	}
}
</script>

<style lang="scss" scoped>
	div{
		text-align: left;
		font-size: 25px;
		background-color: #42b983;
		margin: 5px 0;
		border-radius: 5px;
		color: white;
		span{
		color:#2c3e50
		}
	}
	
</style>